.footer {
  background-color: var(--color-dark);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  p {
    color: #fff;
  }
}
